<div class="user-page">
  <h5>Currently Playing</h5>
  <div class="currently-playing">
    <% if @song %>
      <%= render partial: "shared/currently-playing-song" %>
      <%= render partial: "shared/currently-playing-predict" %>
    <% else %>
      <%= "Play a song on Spotify!" %>
    <% end %>
  </div>
</div>
