<%= image_tag @song.album_cover, class: "album-cover" %>
<div class="track-info">
  <div class="artists"><%= @song.artists %></div>
  <div class="album-title"><%= @song.album %></div>
  <div class="song-title"><%= @song.title %></div>
</div>
