<div class="user-page">
  <div class="currently-playing">
    <% if @song %>
      <%= render partial: "shared/currently-playing-song" %>
      <%= render partial: "shared/currently-playing-like-dislike" %>
    <% else %>
      <%= "Play a song on Spotify!" %>
    <% end %>
  </div>
</div>
