---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1515130916618,
          "progress_ms" : 40144,
          "is_playing" : true,
          "item" : {
            "album" : {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
                },
                "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
                "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
                "name" : "Kendrick Lamar",
                "type" : "artist",
                "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/4eLPsYPBmXABThSJ821sqY"
              },
              "href" : "https://api.spotify.com/v1/albums/4eLPsYPBmXABThSJ821sqY",
              "id" : "4eLPsYPBmXABThSJ821sqY",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/661e1a935e2eacdd45c05ef618565535e7bed2ad",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/70429aaeceb7f8f6c087133382728223e0004b29",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/f2e751ee3dbfec80737094585f59a76806a51797",
                "width" : 64
              } ],
              "name" : "DAMN.",
              "type" : "album",
              "uri" : "spotify:album:4eLPsYPBmXABThSJ821sqY"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
              },
              "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
              "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
              "name" : "Kendrick Lamar",
              "type" : "artist",
              "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
            } ],
            "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
            "disc_number" : 1,
            "duration_ms" : 307880,
            "explicit" : true,
            "external_ids" : {
              "isrc" : "USUM71703087"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/06FCvd7rrRcF3DdvWH5Isp"
            },
            "href" : "https://api.spotify.com/v1/tracks/06FCvd7rrRcF3DdvWH5Isp",
            "id" : "06FCvd7rrRcF3DdvWH5Isp",
            "name" : "LUST.",
            "popularity" : 69,
            "preview_url" : "https://p.scdn.co/mp3-preview/ed8c72d352b54d89998d7b7f662b9e221f227e0a?cid=<CLIENT_ID>",
            "track_number" : 9,
            "type" : "track",
            "uri" : "spotify:track:06FCvd7rrRcF3DdvWH5Isp"
          },
          "context" : null
        }
  recorded_at: Fri, 05 Jan 2018 05:42:36 GMT
recorded_with: VCR 4.0.0
