---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1515383840867,
          "progress_ms" : 9474,
          "is_playing" : true,
          "item" : {
            "album" : {
              "album_type" : "single",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2YZyLoL8N0Wb9xBt1NhZWg"
                },
                "href" : "https://api.spotify.com/v1/artists/2YZyLoL8N0Wb9xBt1NhZWg",
                "id" : "2YZyLoL8N0Wb9xBt1NhZWg",
                "name" : "Kendrick Lamar",
                "type" : "artist",
                "uri" : "spotify:artist:2YZyLoL8N0Wb9xBt1NhZWg"
              }, {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/7tYKF4w9nC0nq9CsPZTHyP"
                },
                "href" : "https://api.spotify.com/v1/artists/7tYKF4w9nC0nq9CsPZTHyP",
                "id" : "7tYKF4w9nC0nq9CsPZTHyP",
                "name" : "SZA",
                "type" : "artist",
                "uri" : "spotify:artist:7tYKF4w9nC0nq9CsPZTHyP"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/3mau89iBea8nCPw3I8kKAk"
              },
              "href" : "https://api.spotify.com/v1/albums/3mau89iBea8nCPw3I8kKAk",
              "id" : "3mau89iBea8nCPw3I8kKAk",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/de7fada56c73b2977b854bc69a5f800aaf1bf33a",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/88f240b294e747f3530c567224bc486676ead64e",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/2d962a964bc6db722a1547e034159fb3c5d0638f",
                "width" : 64
              } ],
              "name" : "All The Stars (with SZA)",
              "type" : "album",
              "uri" : "spotify:album:3mau89iBea8n[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/audio-features/66kQ7wr4d2LwwSjr7HXcyr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "danceability" : 0.700,
          "energy" : 0.615,
          "key" : 8,
          "loudness" : -5.387,
          "mode" : 1,
          "speechiness" : 0.0619,
          "acousticness" : 0.0284,
          "instrumentalness" : 0.0133,
          "liveness" : 0.0843,
          "valence" : 0.449,
          "tempo" : 96.840,
          "type" : "audio_features",
          "id" : "66kQ7wr4d2LwwSjr7HXcyr",
          "uri" : "spotify:track:66kQ7wr4d2LwwSjr7HXcyr",
          "track_href" : "https://api.spotify.com/v1/tracks/66kQ7wr4d2LwwSjr7HXcyr",
          "analysis_url" : "https://api.spotify.com/v1/audio-analysis/66kQ7wr4d2LwwSjr7HXcyr",
          "duration_ms" : 235540,
          "time_signature" : 4
        }
  recorded_at: Mon, 08 Jan 2018 03:57:30 GMT
[...]
