---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1515393655413,
          "progress_ms" : 198013,
          "is_playing" : true,
          "item" : {
            "album" : {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1anyVhU62p31KFi8MEzkbf"
                },
                "href" : "https://api.spotify.com/v1/artists/1anyVhU62p31KFi8MEzkbf",
                "id" : "1anyVhU62p31KFi8MEzkbf",
                "name" : "Chance The Rapper",
                "type" : "artist",
                "uri" : "spotify:artist:1anyVhU62p31KFi8MEzkbf"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/71QyofYesSsRMwFOTafnhB"
              },
              "href" : "https://api.spotify.com/v1/albums/71QyofYesSsRMwFOTafnhB",
              "id" : "71QyofYesSsRMwFOTafnhB",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/717290460ec646ffa372c7f483835eaacfea34f7",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/4df3b334d17428ba101ac867e6f97a0196af1635",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/374221d6e309c5cb5e180a8ba167a8ce70055c5b",
                "width" : 64
              } ],
              "name" : "Coloring Book",
              "type" : "album",
              "uri" : "spotify:album:71QyofYesSsRMwFOTafnhB"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/audio-features/3eze1OsZ1rqeXkKStNfTmi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "danceability" : 0.505,
          "energy" : 0.397,
          "key" : 5,
          "loudness" : -9.349,
          "mode" : 1,
          "speechiness" : 0.324,
          "acousticness" : 0.716,
          "instrumentalness" : 0,
          "liveness" : 0.0853,
          "valence" : 0.558,
          "tempo" : 95.063,
          "type" : "audio_features",
          "id" : "3eze1OsZ1rqeXkKStNfTmi",
          "uri" : "spotify:track:3eze1OsZ1rqeXkKStNfTmi",
          "track_href" : "https://api.spotify.com/v1/tracks/3eze1OsZ1rqeXkKStNfTmi",
          "analysis_url" : "https://api.spotify.com/v1/audio-analysis/3eze1OsZ1rqeXkKStNfTmi",
          "duration_ms" : 219683,
          "time_signature" : 1
        }
  recorded_at: Mon, 08 Jan 2018 06:44:13 GMT
[...]
