<div class="like-dislike">
  <% if @song.assessment %>
    <span><%= @song.assessment %>d!</span>
  <% else %>
    <%= link_to "Like", save_track_path(user: current_user.id, track_id: @song.track_id, assessment: 0), method: :post, class: "link like-link" %>
    <%= link_to "Dislike", save_track_path(user: current_user.id, track_id: @song.track_id, assessment: 1), method: :post, class: "link dislike-link" %>
  <% end %>
</div>
