$base-font: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
$base-text-color: #DFE0DE;
$spotify-green: #1DB954;
$darker-gray: #2C2D2A;
$body-bg-color: #0F0F0F;
$reddish: #BA2500;
$blackish: #070707;

$link-margin: 15px;

$like-dislike-padding: 10px;
