@import 'variables';

.dashboard {
  position: absolute;
  top: 10%;
  width: 80%;
  left: 10%;
  .currently-playing {
    display: flex;
    background-color: $darker-gray;

    border-radius: 5px;
    box-shadow: 0px 0px 0.75px white;
    width: 100%;
    padding: 10px;

    align-items: center;

    .album-cover {
      display: flex;
      border-radius: 5px;
      width: 15%;
      height: 15%;
    }
    .track-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      .artists {
        margin: 18px;
      }
      .album-title {
        margin: 18px;
        opacity: 0.6;
      }
      .song-title {
        margin: 18px;
      }
    }
  }
}
