@import 'variables';

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;

  align-items: center;
  justify-content: flex-end;

  background-color: $darker-gray;
  .footer-link {
    margin: 30px;
    font-size: 20px;
    color: $spotify-green;
  }
}
