@import 'variables';

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;

  align-items: center;

  background-color: $darker-gray;
  .site-title {
    margin: 20px;
    font-size: 25px;
    color: $spotify-green;
  }
}
